services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    mem_limit: 384m

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "email-topic:1:1"
    mem_limit: 512m

  auth-service:
    build:
      context: ./SERVICIO-AUTH
    container_name: auth-service
    ports:
      - "8080:8080"
    depends_on:
      - kafka
    environment:
      SPRING_PROFILES_ACTIVE: docker
    mem_limit: 512m
    
  sispoi-service:
    build:
      context: ./sispoi
    container_name: sispoi-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    mem_limit: 2048m

  email-service:
    build:
      context: ./email
    container_name: email-service
    depends_on:
      - kafka
    mem_limit: 384m

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - auth-service
    mem_limit: 384m
